* {
    font-family: 'Outfit', san-serif;
    font-size: 18px;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    max-width: 350px;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 3%;
    padding: 20px;
    width: 100%;
}

.card-photo {
    position: relative;
    width: 350px;
    height: auto;
}

.card-photo img {
    width: 350px;
    height: 350px;
    border-radius: 3%;
}

.overlay {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: hsl(178, 100%, 50%);
}

.overlay-eye {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    opacity: 0;
}

.card-photo:hover .overlay {
    opacity: .6;
    cursor: pointer;
}

.card-photo:hover .overlay-eye {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-photo:hover .overlay-eye>img {
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.heading {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.cyan {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.inner-container-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 15px 0;
}

.inner-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px 0 0;
}

.inner-container-3 {
    border-top: 1px solid hsl(215, 51%, 70%);
    width: 100%;
    padding: 10px 0 10px 0;
}

.inner-wrap-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.profile img {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 0 0;
    border: 1px solid white;
    border-radius: 50%;
}

.heading:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.card-photo img:hover {
    cursor: pointer;
}

/*FIGURE OUT HOW TO OVERLAY COLOR FILTER AND EYE IMAGE

https://www.geeksforgeeks.org/how-to-create-image-overlay-hover-using-html-css/

helpful!!!
*/